# Disable Directory Browsing
Options -Indexes +MultiViews

# Default page to display when a directory is accessed
DirectoryIndex index.php

# Enable mod_rewrite
RewriteEngine On

# Define the base url for accessing this folder
RewriteBase /systemtask

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ $1 [L,R=301]

# Redirects the index.php file to the root domain
RewriteCond %{THE_REQUEST} ^.*/index(\.php)? [NC]
RewriteRule ^(.*)index(\.php)?$ $1 [L,R=301]

# Add extension if the php file exists:
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirect external .php requests to extensionless url (only for GET method)
RewriteCond %{THE_REQUEST} ^GET\ /(.+)\.php [NC]
RewriteRule ^(.+)\.php$ $1 [L,R=301]

# Browser caching using expires headers
<IfModule mod_expires.c>
    ExpiresActive On

    # Images
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"

    # Video
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/mpeg "access plus 1 year"

    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"

    # Others
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

# Browser caching using cache-control headers
<ifModule mod_headers.c>
    # One year for image and video files
    <filesMatch ".(flv|gif|ico|jpg|jpeg|mp4|mpeg|png|svg|swf|webp)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>

    # One month for JavaScript and PDF files
    <filesMatch ".(js|pdf)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>

    # One week for CSS files
    <filesMatch ".(css)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
</ifModule>

# Redirect to custome error page
ErrorDocument 400 /systemtask/errors
ErrorDocument 403 /systemtask/errors
ErrorDocument 404 /systemtask/errors
ErrorDocument 405 /systemtask/errors
ErrorDocument 408 /systemtask/errors
ErrorDocument 500 /systemtask/errors
ErrorDocument 502 /systemtask/errors
ErrorDocument 504 /systemtask/errors